

.intro{
    position: relative;
    padding: 30px 0;
    &-wrapper{
        display: flex;
        justify-content: space-between;
    }
    &-descr{
        margin-top: 120px;
        &__inner{
            display: flex;
            align-items: center;
            
            .line{
                position: relative;
                width: 140px;
                height: 4px;
                border: 4px solid #fff;
                transform: rotate(120.61deg);
                &::before{
                    content: "";
                    position: absolute;
                    z-index: -1;
                    width: 125px;
                    height: 125px;
                    background: rgba(96, 92, 234, 0.5);  
                    filter: blur(30px);
                    opacity: 50%;
                }
                &::after{
                    content: "";
                    position: absolute;
                    z-index: -1;
                    width: 125px;
                    height: 125px;
                    background: rgba(96, 92, 234, 0.5);  
                    filter: blur(30px);
                    opacity: 50%;
                }
            }
        }
        &__text{
            margin-top: 80px;
            font-size: 20px;
            line-height: 27px;
        }
    }
    &-linear{
        margin-right: 70px;
        &::before{
            content: "";
            position: absolute;
            bottom: 40%;
            left: 65%;
            z-index: -1;
            width: 60%;
            height: 760px;
            background: rgba(250, 0, 255, 0.2);
            filter: blur(250px);
            transform: rotate(-105.26deg);
        }
    }
    &__img{
        width: 100%;
        height: auto;
    }

    &-footer{
        margin-top: 75px;
        display: flex;
        justify-content: space-between;
        &__platform{
            margin-left: 80px;
        }
        &__link{
            margin: 0 30px;
        }
    }
}