.title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 51px;
    line-height: 62px;
}

.title_max{
    font-size: 64px;
    line-height: 70px;
}

.title_medium{
    font-size: 35px;
    line-height: 70px;
}

.title_low{
    font-size: 30px;
    line-height: 40px;
}