.upgrade{
    min-height: 980px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &__img{
        transform: rotate(90deg);
        box-shadow: 4px 4px 100px 0px rgba(213, 221, 76, 0.2);
    }
    &-article{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 13%;
        position: relative;
        max-width: 323px;
        &:before{
            content: "";
            display: block;
            position: absolute;
            right: 50px;
            width: 85px;
            height: 85px;
            background: #F101BF;
            z-index: -10;
            opacity: 0.7;
            filter: blur(40px);
        }
        &__descr{
            font-size: 16px;
        }
    }
}